body {
  background: url("../media/bg.jpg") no-repeat center center fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.monitoringscape {
  color: rgba(255,255,255,0.95);
  font-size: 20px;
}
.monitoringscape span {
  color: rgba(255,255,250,0.65);
}
main {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.7);
  box-shadow: 0 10px 20px rgba(0,0,0,0.7);
}
main nav {
  padding-left: 30px;
  float: left;
  position: fixed;
  top: 0;
  height: 100%;
  width: 170px;
  background-color: #373737;
}
main nav .monitoringscape {
  margin-top: 20px;
  margin-bottom: 30px;
}
main nav div {
  margin-bottom: 13px;
  margin-top: 16px;
}
main nav div a {
  padding: 2px;
  text-decoration: none;
  font-size: 13px;
  color: rgba(255,255,255,0.8);
  font-weight: 200;
  line-height: 20px;
}
main nav div a:hover {
  color: #fff;
}
main nav div a.selected {
  font-weight: bold;
  color: #fff;
}
main nav div.icons a {
  font-size: 20px;
  margin-left: 5px;
}
main .sections {
  float: right;
  width: 750px;
/* Table Sorter */
}
main .sections img {
  border: 1px solid #ddd;
}
main .sections section {
  padding: 25px 50px 25px 50px;
  font-size: 16px;
  line-height: 28px;
}
main .sections section a {
  color: #39c;
  text-decoration: none;
}
main .sections section a:hover {
  text-decoration: underline;
}
main .sections section strong {
  font-weight: 400;
}
main .sections section h1 {
  font-size: 40px;
  line-height: 40px;
  color: #333;
  font-weight: 600;
  border-bottom: solid 1px #ddd;
}
main .sections section h2 {
  font-size: 16px;
  line-height: 30px;
  color: #888;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: solid 1px #ddd;
}
main .sections table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
main .sections table tr {
  font-weight: 200;
}
main .sections table tr.row {
  height: 70px;
}
main .sections table tr a {
  font-size: 14px;
}
main .sections table th {
  font-weight: 400;
  background: linear-gradient(#fafafa, #f0f0f0);
}
main .sections table th,
main .sections table td {
  text-align: left;
  font-size: 13px;
  padding: 6px 13px;
  border: 1px solid #dcdcdc;
}
main .sections th.sort-header::-moz-selection {
  background: transparent;
}
main .sections th.sort-header::selection {
  background: transparent;
}
main .sections th.sort-header {
  cursor: pointer;
}
main .sections th.sort-header::-moz-selection,
main .sections th.sort-header::selection {
  background: transparent;
}
main .sections table th.sort-header:after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}
main .sections table th.sort-header:hover:after {
  visibility: visible;
}
main .sections table th.sort-up:after,
main .sections table th.sort-down:after,
main .sections table th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
}
main .sections table th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}
header {
  display: none;
}
@media screen and (max-width: 890px), only screen and (max-device-width: 890px) {
  main {
    padding-top: 30px;
    width: 750px;
  }
  main nav {
    display: none;
  }
  header {
    text-align: center;
    z-index: 1000;
    display: block;
    position: fixed;
    height: 40px;
    top: 0;
    width: 100%;
    background-color: #373737;
  }
  header .monitoringscape {
    margin-top: 7px;
  }
}
