body {
  background-color: #111;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
}
main {
  width: 700px;
  margin: 0 auto;
  position: relative;
}
main .nav-holder {
  position: absolute;
  left: -190px;
  top: 0;
}
main .nav-holder nav {
  float: left;
  position: fixed;
  top: 0;
  height: 100%;
  width: 170px;
  text-align: right;
  background-color: #666;
  padding-right: 20px;
}
main .nav-holder nav #monitoringscape {
  color: rgba(255,255,255,0.95);
  font-size: 20px;
  margin-bottom: 40px;
}
main .nav-holder nav #monitoringscape span {
  color: rgba(255,255,250,0.65);
}
main .nav-holder nav div {
  margin-bottom: 13px;
  margin-top: 22px;
}
main .nav-holder nav div a {
  padding: 2px;
  text-decoration: none;
  font-size: 13px;
  color: rgba(255,255,255,0.8);
  font-weight: 200;
  line-height: 20px;
}
main .nav-holder nav div a:hover {
  background-color: #eee;
  color: #666;
}
main .nav-holder nav div a.selected {
  background-color: #eee;
  color: #666;
}
main .nav-holder nav div.icons a {
  font-size: 20px;
  margin-left: 5px;
}
.sections {
  background-color: #fff;
}
section {
  padding: 25px 50px 25px 50px;
  font-size: 15px;
  line-height: 26px;
}
section a {
  color: #39c;
  text-decoration: none;
}
section a:hover {
  text-decoration: underline;
}
section strong {
  font-weight: 400;
}
section h1 {
  font-size: 35px;
  line-height: 35px;
  color: #333;
  font-weight: 400;
}
section h2 {
  font-size: 16px;
  line-height: 30px;
  color: #888;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: solid 1px #ddd;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
table tr {
  font-weight: 200;
}
table tr.row {
  height: 70px;
}
table tr a {
  font-size: 14px;
}
table th {
  font-weight: 400;
  background: linear-gradient(#fafafa, #f0f0f0);
}
table th,
table td {
  text-align: left;
  font-size: 13px;
  padding: 6px 13px;
  border: 1px solid #dcdcdc;
}
/* Table Sorter */
th.sort-header::-moz-selection {
  background: transparent;
}
th.sort-header::selection {
  background: transparent;
}
th.sort-header {
  cursor: pointer;
}
th.sort-header::-moz-selection,
th.sort-header::selection {
  background: transparent;
}
table th.sort-header:after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}
table th.sort-header:hover:after {
  visibility: visible;
}
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
}
table th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}
