
box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

gradient()
  -webkit-linear-gradient arguments
  -moz-linear-gradient arguments
  linear-gradient arguments

body
  background url(/bg.jpg) no-repeat center center fixed

  font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight 200
  padding 0
  margin 0

  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover


main
  width 960px
  margin 0 auto
  position relative
  background-color white
  box-shadow 0 10px 20px rgba(0,0,0,0.7)

  nav
    padding-left: 30px
    float left
    position fixed
    top 0
    height 100%
    width 170px
    background-color #373737

    #monitoringscape
      color rgba(255, 255, 255, 0.95)
      font-size 20px
      margin-top 20px
      margin-bottom 30px

      span
        color rgba(255, 255, 250, 0.65)

    div
      margin-bottom 13px
      margin-top 16px

      a
        padding 2px
        text-decoration none
        font-size 13px
        color rgba(255,255,255,0.8)
        font-weight 200
        line-height 20px

        &:hover
          color white

        &.selected
          font-weight bold
          color white

      &.icons
        a
          font-size 20px
          margin-left 5px

  .sections
    float right
    width 750px

    img
      border 1px solid #ddd

    section
      padding 25px 50px 25px 50px
      font-size 16px
      line-height 28px

      a
        color #39c
        text-decoration none
        &:hover
          text-decoration underline

      strong
        font-weight 400

      h1
        font-size 40px
        line-height 40px
        color  #333
        font-weight 600
        border-bottom solid 1px #ddd

      h2
        font-size 16px
        line-height 30px
        color  #888
        font-weight 400
        margin-top 25px
        margin-bottom 25px
        border-bottom solid 1px #ddd


    table
      border-spacing 0
      border-collapse collapse
      width 100%

      tr
        font-weight 200

        &.row
          height 70px

        a
          font-size 14px
      th
        font-weight 400
        background linear-gradient(#fafafa, #f0f0f0)

      th, td
        text-align left
        font-size 13px
        padding 6px 13px
        border 1px solid rgb(220,220,220)



    /* Table Sorter */
    th.sort-header::-moz-selection
      background transparent

    th.sort-header::selection
      background transparent

    th.sort-header
      cursor pointer

      &::-moz-selection, &::selection
        background transparent

    table th.sort-header:after
      content ''
      float right
      margin-top 7px
      border-width 0 4px 4px
      border-style solid
      border-color #404040 transparent
      visibility hidden

    table th.sort-header:hover:after
      visibility visible

    table th.sort-up:after,
    table th.sort-down:after,
    table th.sort-down:hover:after
      visibility visible
      opacity 0.4

    table th.sort-up:after
      border-bottom none
      border-width 4px 4px 0
