<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/base.css" />

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src='js/tablesort.js'></script>
  <script src='js/smooth-scroll.js'></script>
  <script>

    function selectSection() {
      var pos = $(window).scrollTop()
      var cat = null
      $('section h1').each(function(i, el) {
        if (pos + 120 > $(el).offset().top) {
          cat = $(el).attr('id')
        }
      })

      if (cat) {
        $('nav a').removeClass('selected')
        $('#nav-'+cat).addClass('selected')
      }
    }

    $(document).ready(function() {
      smoothScroll.init()
      $("table").each(function(i, el) {
        new Tablesort(el)
      })
      selectSection()
      $(window).scroll(selectSection)
    })
  </script>



  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', "UA-40027187-7", { 'cookieDomain': 'bigpanda.io' });
    ga('send', 'pageview');
  </script>

  <!-- KM -->
  <script>
    var _kmq = _kmq || [];
    var _kmk = _kmk || "84ab77b86fc690e90c1b37db36da3f1946a97c90";
 function _kms(u){
   setTimeout(function(){
     var d = document, f = d.getElementsByTagName('script')[0],
     s = d.createElement('script');
   s.type = 'text/javascript'; s.async = true; s.src = u;
   f.parentNode.insertBefore(s, f);
   }, 1);
 }
 _kms('//i.kissmetrics.com/i.js');
 _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

 _kmq.push(function() {
   KM.set( {'LandingPage': window.location.pathname } );
 });
</script>

  <!-- MRKTO -->
  <script>
   (function() {
     window.marketoInit = false;
     function initMunchkin() {
       if(window.marketoInit === false) {
         window.marketoInit = true;
         mktoMunchkin("778-UNI-965");
       }
     }
     var s = document.createElement('script');
     s.type = 'text/javascript';
     s.async = true;
     s.src = '//munchkin.marketo.net/munchkin.js';
     s.onreadystatechange = function() {
       if (this.readyState == 'complete' || this.readyState == 'loaded') {
         initMunchkin();
       }
     };
     s.onload = initMunchkin;
     document.getElementsByTagName('head')[0].appendChild(s);
   })();
  </script>


  <meta name="title" content="MonitoringScape">
  <meta property="og:url" content="https://www.bigpanda.io/monitoringscape/">
  <meta property="og:title" content="MonitoringScape - A Monitoring Library for DevOps and IT Operations">
  <meta property="og:description" content="An overview of modern monitoring tools, including network, server, application, website monitoring and more.  ">
  <meta name="description" content="An overview of modern monitoring tools, including network, server, application, website monitoring and more.">
  <meta property="og:image" content="https://www.bigpanda.io/monitoringscape/media/poster.png">

  <title>MonitoringScape</title>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NSB75K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NSB75K');</script>
  <!-- End Google Tag Manager -->

  <header><div class="monitoringscape">monitoring<span>scape<span></div></header>
  <main>
    <nav>
      <div class="monitoringscape">monitoring<span>scape<span></div>

      {{ range .Data.Pages.ByWeight }}
        <div>
          <a id="nav-{{.Slug}}" data-scroll href="#{{.Slug}}">{{.Title}}</a>
        </div>
      {{ end }}
      <div class="icons">
        <a href="https://github.com/bigpandaio/monitoringscape/tree/master/content"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/bigpanda"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/bigpanda"><i class="fa fa-linkedin"></i></a>
      </div>

      <script src="//app-sj07.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_1036"></form>
      <script>MktoForms2.loadForm("//app-sj07.marketo.com", "778-UNI-965", 1036);</script>
    </nav>

    <div class="sections">
      {{ range .Data.Pages.ByWeight }}
          {{ if eq .Type  "section" }}
              {{ .Render "section"}}
          {{ end }}
      {{ end }}
    </div>

    <div style="clear: both"/>
  </main>



  <!-- Google Code for Remarketing Tag -->
  <script type="text/javascript">
   /* <![CDATA[ */
   var google_conversion_id = 951691685;
   var google_custom_params = window.google_tag_params;
   var google_remarketing_only = true;
  /* ]]> */
  </script>

  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

  <noscript>
   <div style="display:inline;">
   <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951691685/?value=0&amp;guid=ON&amp;script=0"/>
   </div>
  </noscript>
</body>
</html>
