<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.Params.Base }}/css/base.css" />

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src='js/tablesort.js'></script>
  <script src='js/smooth-scroll.js'></script>
  <script>

    function selectSection() {
      var pos = $(window).scrollTop()
      var cat = null
      $('section h1').each(function(i, el) {
        if (pos + 120 > $(el).offset().top) {
          cat = $(el).attr('id')
        }
      })

      if (cat) {
        $('nav a').removeClass('selected')
        $('#nav-'+cat).addClass('selected')
      }
    }

    $(document).ready(function() {
      smoothScroll.init()
      $("table").each(function(i, el) {
        new Tablesort(el)
      })
      selectSection()
      $(window).scroll(selectSection)
    })
  </script>

  <title>MonitoringScape</title>
</head>
<body>
  <main>
    <nav>
      <div id="monitoringscape">monitoring<span>scape<span></div>

      {{ range .Data.Pages.ByWeight }}
        <div>
          <a id="nav-{{.Slug}}" data-scroll href="#{{.Slug}}">{{.Title}}</a>
        </div>
      {{ end }}
      <div class="icons">
        <a href="https://github.com/bigpandaio/monitoringscape/tree/master/content"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/bigpanda"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/bigpanda"><i class="fa fa-linkedin"></i></a>
      </div>
    </nav>

    <div class="sections">
      {{ range .Data.Pages.ByWeight }}
          {{ if eq .Type  "section" }}
              {{ .Render "section"}}
          {{ end }}
      {{ end }}
    </div>

    <div style="clear: both"/>
  </main>
</body>
</html>
